*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: #363636;
}
h1, h2, h3, h4, h5, h6, sup, sub {
    font-size: 100%;
    line-height: 1;
}
body {
    color: #323235;
}
.header {
    position: relative;
    z-index: 10;
    height: 87px;
    border-bottom: 1px solid #eaa974;
    background-color: #27272f;
    border-bottom: 1px solid #eaa974;
}
.logo {
    color: #f45e39;
    float: left;
    width: 230px;
    height: 78px;
    background: url(../img2/logo.png) no-repeat;
    margin: 5px;
}
.header .nav {
    float: right;
}
.header .nav .nav-gzh {
    position: relative;
    z-index: 1;
}
.header .nav a {
    float: left;
    line-height: 87px;
    font-size: 18px;
    padding: 0 45px;
    color: #ddd;
}
.header .nav .nav-qrcode {
    display: none;
    position: absolute;
    left: -15px;
    top: 87px;
    width: 150px;
    height: 150px;
    border: 1px solid #eaa974;
    background: url(../img2/qrcode-aba.jpg) no-repeat;
}
.nav-gzh:hover .nav-qrcode{
    display: block;
}
.header .nav .nav-btn {
    background: url(../img2/btn-enter.png) no-repeat;
    width: 194px;
    height: 44px;
    margin: 22px 0 0 0;
    padding: 0;
    line-height: 44px;
    text-align: center;
}
.header a:hover{
    color: #eb6865;
}
.banner {
    background-image: url("../img2/banner-bg.jpg");
    height: 1151px;
}
.wrapper {
    background-repeat: no-repeat;
    background-position: center top;
}
.banner .flower {
    position: absolute;
    z-index: 10;
    height: 10px;
    width: 1096px;
    left: 50%;
    margin-left: -548px;
}
.s{
    position: absolute;
    width: 70px;
    height: 120px;
    background-image: url(../img2/flower-b.png);
    background-repeat: no-repeat;
    opacity: 0;
    overflow: hidden;
    z-index: 10;
}
@keyframes huabang {
    0%{transform: translate(0px, 0px);opacity: 1;}
    100%{transform: translate(-500px ,700px);opacity: 1;}
}
.s1 {
    background-position: 0 0;
    width: 125px;
    top: 25px;
    left: 130px;
    transition: 2s;
    animation: huabang 2s infinite linear;
}
.s2 {
    width: 144px;
    background-position: -135px 0;
    left: 520px;
    top: 270px;
    transition: 4s 1s ;
    animation: huabang 4s 1s infinite linear;
}
.s3 {
    background-position: -339px 0;
    left: 880px;
    top: 150px;
    transition: 5s 2s ;
    animation: huabang 5s 2s infinite linear;
}
.s4 {
    background-position: -409px 0;
    left: 890px;
    top: 40px;
    transition: 3s 1s ;
    animation: huabang 3s 1s infinite linear;
}
.banner .inner {
    background-image: url("../img2/banner-inner.jpg?d=20180416");
    z-index: 5;
}
.wrapper .inner, .wrapper .content {
    width: 1096px;
    height: 100%;
    margin: auto;
    position: relative;
    left: -2px;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center top;
}
.banner-video {
    position: absolute;
    z-index: 20;
    left: 50%;
    margin-left: -368px;
    top: 487px;
    width: 42px;
    height: 42px;
    overflow: hidden;
    padding: 5px;
    border: 2px solid #656a80;
    border-radius: 50%;
    background: url("../img2/icon-video.png")
    no-repeat 5px 5px;
    animation:zhuangquan 1.5s infinite linear;
}
@keyframes  zhuangquan{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
.banner-video:hover{
    border: 2px dashed #656a80;
}
.banner-btn-yy {
    position: absolute;
    z-index: 20;
    left: 50%;
    margin-left: -548px;
    top: 710px;
    width: 274px;
    height: 69px;
    background: url(../img2/btn-yy.png) no-repeat;
    color: #fff;
    padding: 42px 0;
    text-align: center;
}
.yy1,.yy2{
    margin-top: 10px;
    font-size: 35px;
    text-align: center;
}
.yy1{
    display: block;
}
.yy1:active{
   display: none;
}
.yy1:active+.yy2{
    display: block;
}
.yy2{
    display: none;
    cursor: auto;
}
.giftbag {
    position: relative;
    z-index: 1;
    height: 1125px;
    background-image: url(../img2/giftbag-bg.jpg);
    overflow: hidden;
}
.giftbag .inner {
    background-image: url(../img2/giftbag-inner.jpg);
}
.gift-left {
    z-index: 5;
    left: 0;
    bottom: 30px;
    width: 432px;
    height: 521px;
    background: url(../img2/char-l.png) no-repeat;
}
.gift-right {
    z-index: 5;
    right: 0;
    bottom: 25px;
    width: 280px;
    height: 554px;
    background: url(../img2/char-r.png) no-repeat;
}
.gift-mid {
    opacity: 0;
    z-index: 5;
    left: 50%;
    bottom: 0;
    margin-left: -380px;
    width: 761px;
    height: 505px;
    background: url(../img2/char-m.png) no-repeat;
}
.pa {
    position: absolute;
}
.giftbag .content {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -548px;
    z-index: 20;
}
.gift-top .gift-hd {
    height: 73px;
    position: relative;
    z-index: 1;
}
.gift-top .gift-hd .title {
    float: left;
    width: 150px;
}
.ti {
    text-indent: -999em;
}
.gift-top .gift-hd .loginbox {
    float: left;
    margin-top: 40px;
}
.gift-top .gift-btn {
    background: url(../img2/giftbag-btn.jpg) no-repeat;
    position: relative;
    z-index: 2;
    display: block;
    height: 150px;
    color: #fff;
}
.gift-top .gift-btn .hd {
    height: 84px;
}
.gift-top .gift-btn .des {
    float: left;
    color: #db5958;
    font-size: 16px;
    padding-left: 47px;
    width: 190px;
}
.gift-top .gift-btn .g {
    float: left;
    width: 66px;
    padding: 6px;
    text-align: center;
}
.gift-top .gift-btn .g3 {
    float: left;
    width: 116px;
    height: 58px;
    background-color: #e14a49;
    font-size: 18px;
    line-height: 58px;
    text-align: center;
    color: #fff;
    margin: -40px 15px;
}
.gift-bot .gift-hd {
    padding-top: 64px;
    height: 80px;
    margin-top: 50px;
}
.gift-bot .gift-lists {
    border-top: 7px solid #272730;
    position: relative;
    z-index: 1;
}
.gift-bot .gift-lists .lists-curr {
    position: absolute;
    height: 7px;
    left: 0;
    top: -7px;
    background-color: #db5958;
    width: 100%;
}
.gift-bot .gift-lists .lists-curr .des {
    position: absolute;
    left: 400px;
    top: -50px;
    width: 400px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.gift-bot .gift-lists .lists-curr .curr-num {
    color: #f33836;
}
.gift-bot .gift-lists .lists {
    position: relative;
    z-index: 1;
    float: left;
    width: 115px;
    height: 341px;
    margin-right: 20px;
}
.gift-bot .gift-lists .hd {
    position: absolute;
    top: -57px;
    left: 9px;
    width: 98px;
    height: 40px;
    line-height: 40px;
    background-color: #2d2f3a;;
    text-align: center;
    color: #fff;
}
.gift-bot .gift-lists .btn-item {
    position: absolute;
    left: 0;
    top: 25px;
    width: 98px;
    height: 306px;
    padding: 35px 8px 0 9px;
    background: url(../img2/btn-jz.png) no-repeat;
}
.gift-bot .gift-lists .gt {
    display: block;
    background: url(../img2/icon-gifts.jpg) no-repeat;
    padding-top: 66px;
    width: 98px;
    line-height: 40px;
    color: #2c2f3b;
    text-align: center;
}
.gift-bot .gift-lists.gt2 {
    background-position: -98px 0;
}
.gt span {
    display: block;
    line-height: 20px;
}
.gift-bot .gift-lists .lists2 .gt1 {
    background-position: -196px 0;
}
.gift-bot .gift-lists .lists2 .gt2 {
    background-image: url("../img2/icon-gifts2.jpg");
    background-position: -294px 0;
}
.gift-bot .gift-lists .lists3 .gt1 {
    background-position: -392px 0;
}
.gift-bot .gift-lists .lists3 .gt2 {
    background-position: -490px 0;
}
.gift-bot .gift-lists .lists4 {
    margin-left: 440px;
}
.gift-bot .gift-lists .lists4 .gt1 {
    background-position: -588px 0;
}
.gift-bot .gift-lists .lists4 .gt2 {
    background-position: -686px 0;
}
.gift-bot .gift-lists .lists5 .gt1 {
    background-position: -784px 0;
}
.gift-bot .gift-lists .lists5 .gt2 {
    background-position: -686px 0;
}
.gift-bot .gift-lists .lists5 {
    margin-right: 0;
}
.invitefd {
    background-image: url(../img2/invitefd.jpg);
    height: 855px;
    text-align: center;
}
.invitefd-hd, .lotterybox-hd {
    padding: 70px 0 24px;
    height: 58px;
}
.invitefd-btn {
    display: block;
    background: url(../img2/btn-invitefd.png) no-repeat;
    width: 301px;
    height: 87px;
    line-height: 87px;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.invitefd-des {
    margin: 12px auto 70px;
    font-size: 18px;
    color: #4d4d4d;
    text-align: center;
}
.invitefd-lists {
    margin-right: -20px;
}
.invitefd-lists .item {
    float: left;
    margin-right: 20px;
    width: 352px;
    height: 480px;
    background: url(../img2/invitefd-spr.jpg) no-repeat;
}
.invitefd-lists a {
    display: block;
    padding: 310px 0 20px;
}
.invitefd-lists .hd {
    padding: 9px 0 0;
    font-size: 30px;
    line-height: 1.5;
}
.invitefd-lists .para {
    font-size: 18px;
}
.invitefd-lists .btn {
    display: block;
    width: 190px;
    height: 60px;
    margin: 5px auto;
    line-height: 60px;
    background-color: #fd7474;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
.invitefd-lists .it3 {
    background-position: -704px 0;
}
.invitefd-lists .it2 {
    background-position: -352px 0;
}
.lotterybox {
    background-image: url(../img2/lotterybox.jpg);
    height: 899px;
    text-align: center;
}
.lotterybox-des {
    font-size: 34px;
    margin-bottom: 20px;
}
.lottery-check {
    background-color: #fd7474;
}
.lottery-info {
    background-color: #333340;
}
.lottery-btn {
    margin-top: 20px;
    display: inline-block;
    width: 200px;
    height: 66px;
    line-height: 66px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.lottery {
    height: 514px;
    background: url(../img2/lottery-plate2.jpg) no-repeat;
    position: relative;
    z-index: 1;
}
.lotterycontent2_container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 352px;
    height: 158px;
}
.lotterycontent2_start {
    position: absolute;
    width: 352px;
    height: 158px;
    left: 372px;
    top: 178px;
    display: block;
    outline: currentcolor none medium;
    cursor: pointer;
    backface-visibility: hidden;
}
.feature {
    background-image: url(../img2/feature-bg.jpg);
    height: 918px;
}
.feature .inner {
    background-image: url(../img2/feature-inner.jpg);
}
.feature .feature-hd {
    height: 270px;
}
.roundabout_box {
    height: 425px;
    width: 980px;
    margin: 40px auto 20px auto;
}
.around {
    background-image: url(../img2/around-bg.jpg);
    height: 1115px;
}
.around-hd {
    height: 220px;
}
.around-lists {
    text-align: center;
    margin-right: -96px;
}
.around-lists .item {
    float: left;
    width: 500px;
    height: 268px;
    margin-right: 96px;
}
.around-lists a {
    display: block;
    height: 100%;
}
.around-lists .hd {
    height: 155px;
}
.around-lists .btn {
    display: block;
    background-color: #ff6e6e;
    height: 34px;
    line-height: 34px;
    width: 74px;
    color: #fff;
    border-radius: 20px;
}
.gamerules {
    background-color: #233145;
    padding: 30px 0;
    color: #ddd;
    font-size: 12px;
}
.around-lists .it3 {
    width: 100%;
}
.gamerules li {
    width: 1098px;
    margin: auto;
    line-height: 2;
}
#footer_ieg {
    text-align: center;
    color: #5a646b;
    background: #000;
    font-size: 12px;
    line-height: 20px;
    padding: 30px 0;
    z-index: 2;
}
#footer_ieg a {
    color: #5a646b;
}